h1 {
    font-family: serif;
    background-color: lightgray;
    color:  #377ba8;
    text-align: center;
}

form {
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

input {
    background-color: blanchedalmond;
    border-radius: 15px;
}

button {
    text-align: center;
    font-weight: bold;
}

